{% extends 'front/websiteflex.html' %}

{% block content1 %}
<div class="img-block">
    <img src="kurisuXpcs.jpg" alt="">
    <h4>Christina I</h4>
    <p>Steins;gate OST</p>
    </div>
        <div class="img-block">
          <img src="kurisuXpcs.jpg" alt="">
          <h4>Farewell</h4>
          <p>Steins;gate OST</p>
        </div>
          <div class="img-block">
            <img src="kurisuXpcs.jpg" alt="">
            <h4>Christina II</h4>
            <p>Steins;gate OST</p>
            <div class="button-play">></div>
          </div>
{% endblock %}

{% block content2 %}
<div class="img-block">
    <img src="kurisuXpcs.jpg" alt="">
    <h4>Christina I</h4>
    <p>Steins;gate OST</p>
    </div>
        <div class="img-block">
          <img src="kurisuXpcs.jpg" alt="">
          <h4>Farewell</h4>
          <p>Steins;gate OST</p>
        </div>
          <div class="img-block">
            <img src="kurisuXpcs.jpg" alt="">
            <h4>Christina II</h4>
            <p>Steins;gate OST</p>
            <div class="button-play">></div>
          </div>
{% endblock %}

{% block content3 %}
<div class="img-block">
    <img src="kurisuXpcs.jpg" alt="">
    <h4>Christina I</h4>
    <p>Steins;gate OST</p>
    </div>
        <div class="img-block">
          <img src="kurisuXpcs.jpg" alt="">
          <h4>Farewell</h4>
          <p>Steins;gate OST</p>
        </div>
          <div class="img-block">
            <img src="kurisuXpcs.jpg" alt="">
            <h4>Christina II</h4>
            <p>Steins;gate OST</p>
            <div class="button-play">></div>
          </div>
{% endblock %}